@import "tailwindcss";

:root {
  --background: #f9f9fa;
  --foreground: #1a1c1d;
}

@theme inline {
  --color-surface-bright: #f9f9fa;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary-fixed-variant: #e4e1e6;
  --color-secondary: #5d5e66;
  --color-on-secondary: #ffffff;
  --color-surface-variant: #e2e2e3;
  --color-on-secondary-fixed: #1a1b22;
  --color-primary-fixed-dim: #47464a;
  --color-on-background: #1a1c1d;
  --color-surface-tint: #5f5e61;
  --color-secondary-fixed: #c6c5cf;
  --color-on-secondary-fixed-variant: #3a3b43;
  --color-surface: #f9f9fa;
  --color-on-primary-fixed: #ffffff;
  --color-error-container: #ffdad6;
  --color-on-secondary-container: #1a1b22;
  --color-tertiary-fixed-dim: #47464a;
  --color-outline-variant: #c6c6c6;
  --color-surface-container-high: #e8e8e9;
  --color-on-primary: #e4e1e6;
  --color-primary: #000000;
  --color-inverse-primary: #c8c5ca;
  --color-on-error-container: #410002;
  --color-error: #ba1a1a;
  --color-inverse-surface: #2f3132;
  --color-on-tertiary-fixed-variant: #e4e1e5;
  --color-surface-dim: #dadadb;
  --color-on-tertiary-fixed: #ffffff;
  --color-on-tertiary: #e4e1e5;
  --color-inverse-on-surface: #f0f1f2;
  --color-outline: #777777;
  --color-background: #f9f9fa;
  --color-secondary-container: #d4d3dd;
  --color-on-tertiary-container: #ffffff;
  --color-on-surface-variant: #474747;
  --color-tertiary-container: #757477;
  --color-surface-container-low: #f3f3f4;
  --color-secondary-fixed-dim: #abaab4;
  --color-on-error: #ffffff;
  --color-surface-container: #eeeeef;
  --color-tertiary-fixed: #5f5e61;
  --color-tertiary: #3b3b3e;
  --color-on-primary-container: #ffffff;
  --color-primary-container: #3b3b3e;
  --color-on-surface: #1a1c1d;
  --color-primary-fixed: #5f5e61;
  --color-surface-container-highest: #e2e2e3;

  --font-headline: "Manrope", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;
}

body {
  background: var(--background);
  color: var(--color-on-surface);
  font-family: var(--font-body);
}

.shadow-ambient {
  box-shadow: 0 20px 40px rgba(26, 28, 29, 0.04);
}